@use '../imports/imports.scss'as *;





.exhibit-nav {
  padding: 15px;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;

  //   color: #fff;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;

    li {
      flex: 1;
      text-align: center;
      font-size: 14px;
      //   text-transform: uppercase;
      letter-spacing: 0.6px;

      a {
        color: rgb(213, 213, 213);
        transform: scale(1);
        transition: 0.3s ease all;
        display: block;
      }

      &:hover {
        a {
          color: rgb(142, 196, 142);
          transform: scale(1.1);
        }
      }

      a.nuxt-link-active {
        color: rgb(142, 196, 142); // sage
        transform: scale(1.1);
      }
    }
  }

  .menu-toggle {
    display: none;
  }

  @media (max-width: $mobile-bp) {
    .menu-toggle {
      display: block;
      // top: 0;
      position: fixed;
      top: 15px;
      left: 15px;

      rect {
        transition: .3s ease all;
        fill: #fff;
      }

      &:hover {
        cursor: pointer;

        rect {
          fill: $sage;
        }
      }
    }

    &.collapsed {
      ul {
        display: none;
      }

      background: transparent;
      width: 50px
    }
  }

  &.expanded {
    height: 100vh;
    width: 80vw;
    display: flex;
    z-index: 113;
    flex-direction: column;
    justify-content: center;

    ul {
      flex-direction: column;

      li {
        font-size: 24px;
        margin-bottom: 30px
      }
    }
  }
}


.map-controls {
  .menu-toggle {
    display: none;
  }

  @media (max-width: $mobile-bp) {

    .menu-toggle {
      display: block;
      // top: 0;
      position: fixed;
      bottom: 15px;
      left: 15px;
      background: $gray;
    }

    &.expanded {
      .menu-toggle {
        position: relative;
      }
    }

    &.collapsed {
      background: transparent;
      height: auto;
      position: relative;

      nav {
        display: none;
      }
    }
  }
}


.story-container {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: minmax(200px, 50ch) 2fr;
  // @media (min-width: 1280px) {
  //   grid-template-columns: 1fr 2fr;
  // }
  grid-gap: 30px;

  .image-wrapper {
    figure {
      margin-bottom: 30px;
    }
  }

  @media (max-width: $mobile-bp) {
    display: flex;
    flex-direction: column;
  }
}
