@use '../imports/imports.scss'as *;



.occupation-stories {
  color: #fff;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .nuxt-content {
    display: flex;
    align-items: center;
    width: 100%;

    h1 {
      flex: 2;
      padding: 15px;
    }

    img {
      padding-left: 50px;
      max-height: 800px;
    }
  }
}

// /stories/index
.stories-landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-row {
    height: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    padding-bottom: 54px;

    @media (max-width: $mobile-bp) {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    >* {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    >.text-wrapper {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      flex: 1;
      margin-left: 15px;
      background: darken($sage, 60);

      @media (max-width: $mobile-bp) {
        margin-bottom: 3rem;
      }
    }

    .story-lp-images-wrapper {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      padding: 0 15px;
      flex: 2;
    }
  }
}

// stories / _id
.stories-individual {
  main.content {

    >.row {

      display: flex;
      justify-content: center;
      padding: 10vh 1rem;

      &.flat-padding {
        padding: 0;
      }

      &.dark {
        background: $gray;
      }

      &:last-child {
        padding-bottom: 35vh;
      }

      flex-direction: column;

      blockquote,
      p {
        max-width: 540px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 540px) {
          margin-left: auto;
          margin-right: auto;
        }

        &.cta {
          font-style: italic;
          font-size: 16px;
          // margin-left: 0;
        }

      }

      .row {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;

        &.narrow {
          @include siteContainer;
        }
      }

      .row-reverse {
        flex-direction: row-reverse;
      }

      .col {
        flex-direction: column;
        display: flex;

        >*:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      figure {
        text-align: center;
        margin: 30px;

        img {
          max-height: 75vh;
          max-width: 800px;
          width: 100%;
          height: 100%;
          object-fit: contain;

          @media (max-height: 600px) {
            max-height: 100%;
          }

          @media (max-width: 800px) {
            max-width: 90%;
          }
        }

        &.banner {
          img {
            max-width: 80vw;
            max-height: 80vh;
          }
        }
      }
    }
  }
}


.stories-individual {
  main.content {
    >header+.row {
      padding-top: 5vh;
    }

    >.row {
      // opacity: 0;
    }
  }
}
