@use '../imports/imports.scss'as *;


.stories-landing-page {
  max-width: 100vw;
  width: 100vw;
  min-height: calc(100vh - 54px);
  max-height: calc(100vh - 54px);
  height: calc(100vh - 54px);
  position: absolute;
  top: 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
  // background: darken($forest, 10);

  @media (max-width: $mobile-bp) {
    grid-template-rows: auto auto;
    min-height: 100vh;
    max-height: unset;
    height: auto;
  }

  .text-wrapper {
    // padding: 10% 5%;
    text-align: center;
    color: #fff;
    padding: 30px 0;

    * {
      height: 100%;
    }

    p {
      height: auto;
    }

    .nuxt-content {
      display: grid;
      grid-template-rows: 2fr 1fr;
      grid-template-columns: 1fr;
      padding: 0 5%;

      @media (max-width: $mobile-bp) {
        grid-template-rows: auto auto;
        grid-row-gap: 30px;
        padding-top: 30px;
      }

      p {
        place-self: center;
        margin: 0;
      }

      p:first-child {
        // pBigStyle
        @include pBigStyle(white)
      }

      p:last-child {
        @include pStyle(white);
        align-self: flex-end;
        padding-bottom: 15px;
        font-style: italic;
      }
    }
  }

  .image-wrapper {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    overflow: hidden;

    @media (max-width: $mobile-bp) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 1fr);
    }

    a {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    &:hover,
    *:hover {
      text-decoration: none;
    }

    figure {
      max-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: grid;
      grid-template-rows: 100%;

      >* {
        grid-area: 1 / -1;
      }


      @media (max-width: $mobile-bp) {
        display: flex;
        flex-direction: column;

      }

      position: relative;

      img {
        @media (min-width: $mobile-bp) {

          position: absolute;
        }

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }


      img {
        height: 100%;
        max-height: 100%;

        min-width: 100%;
        // max-height: calc(100% - 54px);
        object-fit: cover;
        object-position: top center;
        transform: scale(1) translateY(0px);
        filter: blur(2px) grayscale(1);
        opacity: 0.5;

        @media (max-width: $mobile-bp) {
          filter: blur(0px) grayscale(1);
          opacity: 1;
        }


        transition: 3s cubic-bezier(0.49, 0.34, 0.72, 1.02) all;
      }

      figcaption {
        justify-self: center;
        align-self: end;
        margin-bottom: 30px;
        position: relative;
        text-decoration: none;
        opacity: 0.3;
        filter: blur(10px);

        @media (max-width: $mobile-bp) {
          filter: blur(0px);
          opacity: 1;
        }

        transition: 1s cubic-bezier(0.49, 0.34, 0.72, 1.02) filter,
        1s cubic-bezier(0.49, 0.34, 0.72, 1.02) opacity,
        3s cubic-bezier(0.49, 0.34, 0.72, 1.02) transform;
        @include h3Style(#fff);
        background: $forest;
        width: auto;
        height: auto;
        max-width: 80%;
        padding: 10px 30px;
        border-radius: 5px;
        text-align: center;
        transform: translateY(0px);
      }

      &:hover {
        img {
          transform: scale(1.3) translateY(30px);
          opacity: 1;
          filter: blur(0px) grayscale(0);
        }

        figcaption {
          opacity: 1;
          filter: blur(0px);
          transform: translateY(-30px);
        }
      }
    }
  }
}

.talkback-with-grid {
  display: grid;
  height: 100%;
  min-height: calc(100vh - 54px);
  top: 0;
  grid-template-columns: minmax(auto, 640px) 2fr;
  grid-template-rows: 100%;
  grid-gap: 30px;

  @media (max-width: $mobile-bp) {
    // grid-template-columns: 1fr;
    // grid-auto-rows: auto;
    display: flex;
    flex-direction: column;
  }


  @media (min-width: $mobile-bp) {
    padding: 100px 30px 180px 30px;

  }

  .text-wrapper {
    height: 100%;
    padding: 0 15px;
  }

  .gallery-wrapper {
    display: grid;
    height: 90%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}


.aftermath {
  .text-wrapper {
    p {
      @include pBigStyle();
    }
  }
}

.text-scroller-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .nuxt-content p {
      max-width: 35ch;
      margin: 0 auto;
      // background: $gray;

      @media (max-width: 35ch) {
        max-width: 90%;
      }
    }

    .image-wrapper {
      width: 100%;
      height: 100vh;
      max-height: 100vh;
      max-width: 100vw;
      position: fixed;
      overflow: hidden;

      * {
        width: 100%;
        height: 100%;
      }

      img {
        object-fit: cover;
      }
    }

    .text-scroller {
      width: 100%;
      max-width: 100vw;
      overflow: hidden;

      .text-wrapper {
        p {
          // min-height: calc(100vh - 54px);
          //   max-width: 100vw;
          // overflow-x: hidden;
          height: 100vh;
          // height: 80vh;
          // padding-bottom: 20vh;

          // &:last-child {
          //   height: 100vh;
          //   padding-bottom: 50vh;
          // }

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          // opacity: 0;
          // padding: 30vh 0;

          a {
            margin-top: 15px;
          }
        }

        p.img-container {
          height: 80vh;
        }
      }
    }
  }
}


.conclusion {

  p,
  blockquote {
    @include pBigStyle();
  }



  .grid-the-end {

    p,
    figcaption,
    blockquote {
      color: white;
    }

    p.small {
      color: white;
      @include pStyle();
    }


    text-align: left;

    button:before {
      background: darken($forest, 10);
    }
  }


}



.nav-tracker-bar {
  position: fixed;
  background: #c0ddad; // sage for hard light;
  width: 25px;
  top: 0;
  left: 0;
  z-index: 19;
  mix-blend-mode: hard-light;

  @media (max-width: $mobile-bp) {
    width: 10px;
  }
}

.introduction .nav-tracker-bar {
  mix-blend-mode: difference;
}

.occupation-stories {
  // background: $gray;
  color: #fff;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .nuxt-content {
    display: flex;
    align-items: center;
    width: 100%;

    h1 {
      flex: 2;
      padding: 15px;
    }

    img {
      padding-left: 50px;
      max-height: 800px;
    }
  }
}


.resistance-talkback,
.occupation-talkback {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  background: #35452b73;

}

.occupation-talkback {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


@media (max-width: $mobile-bp) {
  .intro-stories-individual {
    // .slider-wrapper {
    //   padding-bottom: 50px;
    // }

    .pagination {
      position: relative;
      width: 90%;
      bottom: unset !important;
      right: unset !important;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
  }
}

.talkback {
  @media (max-width: $mobile-bp) {
    padding: 100px 0 30px 0;

    .text-wrapper {
      max-width: 80%;
    }
  }
}

.route-4,
.route-2-talkback,
.route-3-talkback {
  .pagination {
    @media (max-width: $mobile-bp) {
      position: relative;
      bottom: unset !important;
      width: 100vw;
      margin: 0 auto;
      left: 0;
      right: 0;
      margin-bottom: 50px;
    }
  }
}
