@use '../imports/imports.scss'as *;

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes arrowBounce {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(15px);
  }
}


.pagination {

  overflow: hidden;

  background: $forest;
  box-shadow: 0 0 30px #091502d6;
  background: #000;


  position: fixed;
  z-index: 130;

  animation: slideIn 0.8s ease-in forwards;
  bottom: 25vh;
  right: 30px;
  color: #fff;
  text-align: center;

  min-width: 300px;

  min-height: 10vh;
  max-height: 15vh;

  @media (max-height: 800px) {
    max-height: 300px;
  }

  @media (min-width: $mobile-bp) {
    border-radius: 15px;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
  }

  h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
  }

  a,
  a * {
    background: transparent;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .cta {
    display: flex;
    justify-content: center;

    >.icon {
      margin-left: 15px;
      animation: arrowBounce 0.9s ease-in alternate infinite;
    }
  }

  // hover FX
  transition: .3s ease all;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: $forest;
    transition: .9s ease-out all;
    transform: translateX(-100%);
  }

  &:hover {
    background: #000;

    &:before {
      transform: translateX(0%);
    }
  }


}

@media (min-width: $mobile-bp) {
  .resistance .pagination {
    bottom: 45vh;
  }

  .occupation-talkback .pagination {
    bottom: 75px;
  }

  .intro-stories-individual .pagination {
    bottom: 100px;
  }

  .aftermath-stories-individual .pagination {
    bottom: 100px;
  }

  .resistance-talkback .pagination {
    bottom: 100px;
  }
}





// .pagination mobile
@media (max-width: $mobile-bp) {

  .pagination {
    display: flex;
    position: relative;
    align-items: center;
    bottom: 0px !important;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;

    .wrapper {
      margin: 0 auto;
    }

    h3 {
      display: none;
    }


  }

  .occupation .pagination,
  .resistance .pagination {
    position: fixed;
  }

  //   .route-4,
  //   .route-2-talkback,
  //   .route-3-talkback {
  //     .pagination {
  //       @media (max-width: $mobile-bp) {
  //         position: relative;
  //         bottom: unset !important;
  //         width: 100vw;
  //         margin: 0 auto;
  //         left: 0;
  //         right: 0;
  //         margin-bottom: 50px;
  //       }
  //     }
  //   }
}
