$mobile-bp: 960px;


body {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
}

@mixin h1Style($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 52px;
  line-height: 52px;
  letter-spacing: 0.02px;
  font-weight: 400;

  @media (max-width: $mobile-bp) {
    font-size: 36px;
    line-height: 40px;
  }
}

@mixin h2Style($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02px;
  font-weight: 400;
  color: $color;

  @media (max-width: $mobile-bp) {
    font-size: 24px;
    line-height: 30px;
  }

}

@mixin h3Style($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color;

  @media (max-width: $mobile-bp) {
    font-size: 24px;
    line-height: 30px;
  }
}


@mixin pStyle($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02px;
  font-weight: 400;
  color: $color;

  @media (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 20px;
  }
}


@mixin buttonStyle($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  color: $color;

  text-transform: uppercase;
}



@mixin pBigStyle($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: $color;
  letter-spacing: 0.09px;

  @media (max-width: $mobile-bp) {
    font-size: 24px;
    line-height: 30px;
  }
}

@mixin captionStyle($color: #fff) {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02px;
  color: $color;

}
